.App-Header {
  display: flex;
  width: 500px;
  margin-left: 300px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.content {
  display: flex;
  height: 600px;
}

.nav-layout {
  width: 300px;
}

.main-layout {
  flex: 1;
  background-color: aqua;
}

.aside-layout {
  width: 300px;
}

.item {
  margin: 20px;
  width: 35px;
  color: #5584ff;
  border-bottom: 2px solid #5584ff;
  box-shadow: 0 0 3px #eee;
}